:root{
    --color-light-white:hsl(0, 0%, 95%);
    --color-light-black:hsl(0, 0%, 9%);
    --color-light-purple:hsl(257, 100%, 67%);
    --color-light-blue:hsl(199, 72%, 63%);
    --text-color-white:hsl(0, 0%, 96%);
    --text-color-black:hsl(0, 0%, 6%);
    --font-robot:'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}
/* Estilos para la barra de desplazamiento vertical */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-light-purple); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--color-light-white); /* Color de fondo de la barra de desplazamiento */
  }
  
  /* Estilos para la barra de desplazamiento horizontal */
  ::-webkit-scrollbar-horizontal {
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-light-purple);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track:horizontal {
    background-color: var(--color-light-white);
  }
  
  
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--color-light-white);
    color: var(--text-color-black);
    font-family: var(--font-robot);
}
.title{
    background-color: var(--color-light-black);
    color: var(--text-color-white);
    font-weight: 700;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.search{
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 2rem;
}
.search-bar{
    max-width: 768px;
    width: 100%;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
}
.search-bar:hover{
    outline: none;
    border: none;
}
.search-bar::placeholder{
    text-align: center;
}
.search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image:linear-gradient(hsl(199, 72%, 63%,.5), hsl(199, 72%, 63%,.5)),url(./images/cinema_camera.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    z-index: -1;
}
.container-movies{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    place-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 25px;
    margin: auto;
}
.movie{
    width: 220px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.5);
}
.movie > .movie-title{
    font-weight: 600;
}
.movie>p:hover,.movie>img:hover{
    cursor: pointer;
    color: var(--color-light-blue);
}
